@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* Register Container */
.Register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Register-Container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.Register-Container h1 {
  margin-bottom: 30px;
  font-weight: 700;
  color: rgb(34, 38, 47);
}

/* Form Fields */
.Register-Field {
  margin-bottom: 20px;
  text-align: left;
}

.Register-Field label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: rgb(34, 38, 47);
}

.Register-Field input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(104, 185, 132);
  border-radius: 5px;
  background-color: rgb(254, 246, 227);
}

/* Button */
.Register-Button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(104, 185, 132);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Register-Button:hover {
  background-color: rgb(87, 156, 111);
}

/* Footer */
.Register-Footer {
  margin-top: 20px;
}

.Register-Link {
  color: rgb(104, 185, 132);
  text-decoration: none;
  font-weight: 600;
}

.Register-Link:hover {
  text-decoration: underline;
}
